/* img{
    width: 400px;
    height: 400px;
} */

/* color pallete
primary color : 003865
secondary color : EF5B0C
accent color : D4F6CC
accent color : 3CCF4E
*/

.canvas {
    width: 500px;
    height: 600px;
    background-color: #003865;
    /* padding: 1px; */
    overflow: hidden;
}

.frame {
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}

.one {
    width: 425px;
    height: 150px;
    background-color: #3CCF4E;
    margin: 20px auto;
}

.two {
    width: 475px;
    height: 200px;
    background-color: #EF5B0C;
    margin: auto;
}